Esperimento con el resorte

In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [10]:
datos_1 = pd.read_csv('resorte_1.csv', delimiter=';')
datos_2 = pd.read_csv('resorte_2.csv', delimiter=';')

In [11]:
#Longitud de los resortes
l_r1 = datos_2['L_R1']
l_r2 = datos_2['L_R2']
#Error instrumental
sigma_1 = datos_2['sigma_r']
sigma_2 = datos_2['sigma_b']
#Masas
m = datos_1['masa']
#Longitud resorte 1 con masas
l_r1_m = datos_1['R_1']
#longitud resorte 2 con masas
l_r2_m = datos_1['R_2']
#longitud resorte 1 y 2 con masas 1 (r1 junto a r2)
l_r1_r2_m1 = datos_1['R_1_R_2_m1']
#longitud resorte 1 y 2 con masas 2 (r1 sobre r2)
l_r1_r2_m2 = datos_1['R_1_R_2_m2']

In [12]:
#Medidas iniciales del experimento
tabla_inicial = pd.DataFrame({'Longitud resorte 1 (cm)': l_r1, 
                              'Longitud resorte 2 (cm)': l_r2, 
                              'Error instrumental resorte 1 (cm)': sigma_1, 
                              'Error instrumental resorte 2 (cm)': sigma_2})
tabla_inicial

,Longitud resorte 1 (cm),Longitud resorte 2 (cm),Error instrumental resorte 1 (cm),Error instrumental resorte 2 (cm)
0,12.3,12.4,0.1,0.1

In [14]:
tabla_capturas = pd.DataFrame({'Masa (g)': m, 
                               'Longitud resorte 1 con masa (cm)': l_r1_m, 
                               'Longitud resorte 2 con masa (cm)': l_r2_m, 
                               'Longitud resorte 1 y 2 con masa 1 (cm)': l_r1_r2_m1, 
                               'Longitud resorte 1 y 2 con masa 2 (cm)': l_r1_r2_m2})
tabla_capturas

,Masa (g),Longitud resorte 1 con masa (cm),Longitud resorte 2 con masa (cm),Longitud resorte 1 y 2 con masa 1 (cm),Longitud resorte 1 y 2 con masa 2 (cm)
0,"272,7","39,2","33,3","23,3","78,7"
1,"257,9","37,8","31,9","22,4","75,2"
2,"208,9","32,5","27,2","19,7","65,1"
3,"148,9","25,6","21,1","16,6","53,3"
4,"89,3","19,3","15,9","13,8",41